<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429478239237-6jqo8otfg5i0k5dka71agccc67sqb3lf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429478239237-6jqo8otfg5i0k5dka71agccc67sqb3lf</string>
	<key>API_KEY</key>
	<string>AIzaSyBcxNL-BAlzOmCCk1zveIo2Mo3KQvkURrc</string>
	<key>GCM_SENDER_ID</key>
	<string>429478239237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Artiom-Porcescu.Eco-Stem</string>
	<key>PROJECT_ID</key>
	<string>eco-stem-d6f79</string>
	<key>STORAGE_BUCKET</key>
	<string>eco-stem-d6f79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429478239237:ios:dbda2457d068aa41b4d06c</string>
</dict>
</plist>